.todos {
  display: flex;
}
.todo {
  border: 1px solid green;
}
.todo.done {
  background-color: rgba($dark, 0.2);
  position: relative;
  &:after {
    content: '';
    height: 10px;
    width: 10px;
    border: 1px solid $dark;
    position: absolute;
    top: -5px;
    right: -5px;
    background-color: $light;
  }
  &:before {
    content: '';
    height: 5px;
    width: 5px;
    border-left: 1px solid $dark;
    border-bottom: 1px solid $dark;
    transform: rotate(-45deg);
    position: absolute;
    top: -4px;
    right: -2px;
    z-index: 2;
  }
}

.todos {
  @include flex(row, space-between, stretch, wrap);
  &:after, &:before {
    content: '';
    width: calc(33% - calc(80px / 3));
    height: 0;
    order: 1;
  }
  .todo {
    width: calc(33% - calc(80px / 3));
  }
}

.todo {
  margin-bottom: 30px;
  border: 1px solid $dark;
  padding: 20px 10px;
  position: relative;
  &__title {
    font-weight: bold;
    margin-bottom: 40px;
  }
  &__description {
    font-weight: bold;
    margin-bottom: 40px;
  }
  &__priority {
    border-radius: 10px;
    border: 1px dashed $dark;
    display: inline-block;
    padding: 3px 10px;
  }
  &__btn {
    position: absolute;
    right: 10px;
    bottom: 20px;
  }
  &__btns {
    position: absolute;
    right: 10px;
    top: calc(100% - 12px);
    z-index: 3;
    min-width: 70px;
    display: none;
    &:before {
      content: '';
      border-left: 1px solid $dark;
      border-bottom: 1px solid $dark;
      height: 10px;
      width: 10px;
      top: 0;
      right: 10px;
      transform: translateY(-7px) rotate(135deg);
      z-index: 3;
      position: absolute;
    }
    border: 1px solid $dark;
    background-color: $light;
    li {
      border-bottom: 1px solid $dark;
      background-color: rgba($dark, 0.2);
      padding: 5px 10px;
      cursor: pointer;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        background-color: $light;
      }
    }
  }
  &__btns.active {
    display: block;
  }
}

@media($tablet) {
  .todos {
    &:after, &:before {
      width: calc(50% - calc(40px / 2));
    }
    .todo {
      width: calc(50% - calc(40px / 2));
    }
  }
}

@media($phone) {
  .todos {
    &:after, &:before {
      width: 100%;
    }
    .todo {
      width: 100%;
    }
  }
}
